
.alive {
  color: green;
}

.dead {
  color: red;
}

.character {
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.6rem;
  display: grid;
  align-items: center;
  grid: 1fr / repeat(2, 1fr);
  justify-items: center;

  @media (max-width: 576px) {
    grid: repeat(2, 1fr) / 1fr;
  }

  .image {
    width: 300px;
    border-radius: 7px;

    @media (max-width: 576px) {
      width: 250px;
    }
  }

  .description {
    @media (max-width: 576px) {
      padding: 0 25px;
    }


    .name {
      font-size: 3rem;
      margin: 0;

      @media (max-width: 576px) {
        font-size: 1.5rem;
      }
    }
  }
}
