@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

.title {
  font-family: 'Bigelow Rules', cursive;
  font-size: 8em;
  text-shadow: 0 3px 0 #B2A98F,
  0 14px 10px rgba(0, 0, 0, 0.15),
  0 24px 2px rgba(0, 0, 0, 0.1),
  0 24px 30px rgba(0, 0, 0, 0.1);
}
