.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;

  @media (max-width: 1055px) {
    padding: 100px;
  }

  @media (max-width: 576px) {
    padding: 10px;
  }
}
